In [70]:
import pandas as pd
import math
import numpy as np
import matplotlib as plt
from sklearn import linear_model

In [71]:
#reading data
df= pd.read_csv("Sales_LinReg.csv")
df

     Republic  NDTV   TV5   TV9  AajTak  sales
0         8.7  48.9   4.0  75.0    49.0    7.2
1        57.5  32.8  65.9  23.5    57.5   11.8
2       120.2  19.6   7.2  11.6    18.5   13.2
3         8.6   2.1  46.0   1.0     2.6    4.8
4       199.8   2.6  52.9  21.2     2.9   10.6
..        ...   ...   ...   ...     ...    ...
300     286.0  13.9  35.2   3.7    13.9   15.9
301      18.7  12.1  23.7  23.4    18.7    6.7
302      39.5  41.1  17.6   5.8    39.5   10.8
303      75.5  10.8   8.3   6.0    75.5    9.9
304      17.2   4.1  30.0  31.6    17.2    5.9

[305 rows x 6 columns]

In [72]:
m_republic = math.floor(df.Republic.median())
df.Republic=df.Republic.fillna(m_republic)

In [73]:
m_n=math.floor(df.NDTV.median())
df.NDTV=df.NDTV.fillna(m_n)

In [74]:
m_t=math.floor(df.TV5.median())
df.TV5=df.TV5.fillna(m_t)

In [75]:
m_tv=math.floor(df.TV9.median())
df.TV9=df.TV9.fillna(m_tv)

In [78]:
m_aaj=math.floor(df.AajTak.median())
df.AajTak=df.AajTak.fillna(m_aaj)

reg =linear_model.LinearRegression()
reg.fit(df[['Republic','NDTV','TV5','TV9','AajTak']],df.sales)

In [79]:
reg.coef_

array([0.04466874, 0.1632843 , 0.00210169, 0.00474941, 0.02183006])

In [81]:
reg.intercept_

2.837975182409627

In [82]:
reg.predict([[7,9,4,64,6]])

C:\Users\Aaryan\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([5.06356439])